body {
    background-color: #E9EBEE;
    margin: 0;
    padding: 0;
}

.about-section {
    filter: drop-shadow(0 4px 4px rgb(0, 0, 0, 0.35));
    height: 100%;
    width: 100%;
    background-color: #42679B;
}

.project-section {
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
}

.title-section {
    margin-top: 80px;
}

.header {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
